@media only screen and (max-width: 360px) {
  * {
    margin: 3px;
  }
  header {
    height: 100px;
  }
  header p {
    width: 50%;
  }

  .container {
    width: 85%;
    height: 650px;
    flex-direction: column;
  }

  .img {
    width: 95%;
    height: 300px;
  }

  .container {
    justify-content: center;
    align-items: initial;
  }

  .content h1 {
    width: 200%;
    height: 150px;
    font-size: 42px;
    line-height: 71px;
    letter-spacing: -0.035em;
  }

  .content p {
    margin-bottom: 40px;
    width: 200%;
    height: 140px;
    font-size: 18px;
    line-height: 27px;
  }

  .footer {
    margin-top: 60px;
    width: 95%;
    height: 25px;
    font-size: 11px;
  }
}
